<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

</style>
<title>micas14类数据展示</title>
</head>
<body>
    <div id="allmap">
    </div>
    <script type="text/javascript" src="http://tonny-zhang.github.io/source/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=E8MDMS4BVFEMeAxVP3YddQ6X"></script>
    <script type="text/javascript" src="js/stroke.js"></script>
    <script type="text/javascript">
    !function(){
        window.global = {};
        var DEFAULT_VAL = 999999;
        var REG_RGB = /rgb\s*\(\s*(\d{1,3})\s*,\s*(\d{1,3})\s*,\s*(\d{1,3})\s*\)/i;
        var REG_HTML = /#([\da-f]{2})([\da-f]{2})([\da-f]{2})/i;
        function color_normal2rgb(color_html,isReturnArray){
            if(color_html){
                var m = REG_HTML.exec(color_html);
                if(m){
                    var arr = [parseInt(m[1],16),parseInt(m[2],16),parseInt(m[3],16)];

                    if(isReturnArray){
                        return arr;
                    }
                    return 'rgb('+(arr.join(','))+')';
                }else{
                    var m = REG_RGB.exec(color_html);
                    if(m){
                        if(isReturnArray){
                            m.shift();
                            return m;
                        }else{
                            return color_html;
                        }
                    }
                }
            }
        }
        function _getColor(v){
            var color = '#ffffff';
            if(v <= 0.9){
                color = '#66FF00';
            }else if(v <= 1.9){
                color = '#666633';
            }else if(v <= 3.9){
                color = '#663300';
            }else if(v <= 5.9){
                color = '#003399';
            }else if(v < 7.9){
                color = '#CC0033';
            }else{
                color = '#000000'
            }
            return color;
        }
        var _color_arr = [
            '#ffffff', 
            '#201885', 
            '#114AD9', 
            '#4DB4F6', 
            /*'#D1F8F3'*/'#ff0000', 
            '#F9DE45', 
            '#FFA800', 
            '#FF6D00', 
            '#D50100'];

        var _color_arr = [
            '#ffffff', 
            '#ffff00', 
            '#ff00ff', 
            '#00ffff', 
            /*'#D1F8F3'*/'#FFA800', 
            '#00ff00', 
            '#663300', 
            '#66FF00', 
            '#CC0033'];
        function _getColor(v){
            var color = _color_arr[0];
            if(v <= -15){
                color = _color_arr[1];
            }else if(v <= -10){
                color = _color_arr[2];
            }else if(v <= -5){
                color = _color_arr[3];
            }else if(v <= 0){
                color = _color_arr[4];
            }else if(v <= 5){
                color = _color_arr[5];
            }else if(v <= 10){
                color = _color_arr[6];
            }else if(v <= 15){
                color = _color_arr[7];
            }else{
                color = _color_arr[8];
            }
            return color;
        }

        map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 6);
        map.centerAndZoom(new BMap.Point(103.2, 36), 5);
        map.enableScrollWheelZoom();
        var url = '../../../shell/test/micaps_3.json';
        var url = '../../../shell/gedian.json';
        var url = '../../../data/micaps/3/15012114.000.json';
        function getCtx(width, height){
            var $mask = $('#allmap .BMap_mask');
            var $canvas = $mask.find('canvas');
            if($canvas.length == 0){
                $canvas = $('<canvas width='+width+' height='+height+' class="layer_vector">').css({
                    left: 0,
                    top: 0
                }).appendTo($mask);
            }
            var canvas = $canvas.get(0);

            var ctx = canvas.getContext('2d');
            ctx.clearRect(0,0, width, height);
            ctx.fillStyle = 'rgba(255, 255, 255,0.7)';
            ctx.fillRect(0,0,width,height);
            return ctx;
        }
        $.getJSON(url, function(data){
            var bounds = map.getBounds(),
                sw_point = bounds.getSouthWest(),
                ne_point = bounds.getNorthEast(),
                sw = map.pointToPixel(sw_point),
                ne = map.pointToPixel(ne_point);
            var x = sw.x,
                y = ne.y,
                size = map.getSize(),
                width = size.width,
                height = size.height;

            
            var ctx = getCtx(width, height);

            var imagedata = ctx.createImageData(width, height),
                _data = imagedata.data;
            var x0 = 73.5,y0 = 18.16, x1 = 135.09, y1 = 53.56, x_space = y_space = 0.5;
            function getV(x, y){
                try{
                    var v = data[y][x].v;
                    if(v != DEFAULT_VAL){
                        return v;
                    }
                }catch(e){}
            }
            /*基于像素点的画法*/
            function _draw_grid(){
                var point_left_top = map.pointToPixel(new BMap.Point(x0, y1)),
                    point_right_bottom = map.pointToPixel(new BMap.Point(x1, y0));
                for(var i = point_left_top.x; i< point_right_bottom.x; i+=1){
                    for(var j = point_left_top.y; j< point_right_bottom.y; j+=1){

                        var point = map.pixelToPoint({x: i, y: j});
                        var x = (point.lng - x0) / x_space, 
                            y = (point.lat - y0) / y_space;
                        if(x > 0 && y > 0){
                            var x00 = Math.floor(x),
                                x01 = Math.ceil(x),
                                y00 = Math.floor(y),
                                y01 = Math.ceil(y);
                            var sum = getV(y00, x00) + 
                                      getV(y00, x01) + 
                                      getV(y01, x00) + 
                                      getV(y01, x01);
                            sum /= 4;
                            if(sum > 0 && sum != DEFAULT_VAL){
                                var index = (j*width + i)*4;
                                var c = _getColor(sum);
                                // c = '#ff0000';
                                var color = color_normal2rgb(c, true);
                                console.log(color, c, sum, index,i,j);
                                _data[index] = color[0];
                                _data[index + 1] = color[1];
                                _data[index + 2] = color[2];
                                _data[index + 3] = 100;
                            }
                        }
                    }
                }
                ctx.putImageData(imagedata, 0, 0);
                global.test_data = imagedata;
                console.log(imagedata);
            }
            
            var set = function(x, y, color){
                var index = (y * width + x)*4;
                _data[index] = color[0];
                _data[index + 1] = color[1];
                _data[index + 2] = color[2];
                _data[index + 3] = color[3] || 255;
            }
            var _draw_data = (function(){
                function _initX(y, start_x, end_x){
                    var val_y = data[y],
                        v_start = val_y[start_x],
                        v_end = val_y[end_x];
                    var num = end_x - start_x,
                        v_space = (v_end - v_start) / num;
                    for(var index_x = 1; start_x < end_x; start_x++){
                        var c = _getColor(v_start + index_x* v_space);
                        var color = color_normal2rgb(c, true);
                        set(start_x, y, color);
                    }
                }
                function _initY(x, start_y, end_y){
                    var v_start = data[start_y][x],
                        v_end = data[end_y][x];
                    var num = end_y - start_y,
                        v_space = (v_end - v_start) / num;
                    for(var index_y = 1; start_y < end_y; start_y++){
                        var c = _getColor(v_start + index_y* v_space);
                        var color = color_normal2rgb(c, true);
                        set(x, start_y, color);
                    }    
                }
                var len_x, len_y;
                function _initXY(x, y){
                    var d = data[y][x];
                    var next_y = y+1;
                    if(next_y >=0 && next_y < len_y){
                        var v_next_y = data[next_y][x];
                        if(v_next_y.v != DEFAULT_VAL){

                        }
                    }
                }
                // 对格点间像素进行填充
                return function(){
                    $.each(data, function(v_i, v_x){
                        $.each(v_x, function(i, v_y){
                            var pixel = map.pointToPixel(new BMap.Point(v_y.x, v_y.y));
                                
                           var x = pixel.x,
                               y = pixel.y;
                            v_y.x = x;
                            v_y.y = y;
                        })
                    });
                    global.data = data;
                    var cache_data = [];
                    len_y = data.length;
                    $.each(data, function(v_i, v_x){
                        len_x = v_x.length;
                        $.each(v_x, function(i, v_y){
                            if(v_y.v != DEFAULT_VAL){
                                var x = v_y.x,
                                    y = v_y.y;
                                if(!(x > 0 && x < width && y > 0 && y < height)){
                                    return;
                                }

                                var c = _getColor(v_y.v);
                                var color = color_normal2rgb(c, true);

                                set(x, y, color);

                                if(i2 < len_x){
                                    var v2 = v_x[i2];
                                    var x2 = v2.x,
                                        y2 = v2.y;
                                    var val2 = v2.v;
                                    if(val2 != DEFAULT_VAL){
                                        // y2 < y1
                                        var start_y = y - 1,
                                            num = Math.abs(y2 - start_y);
                                        var v_space = (val2 - val1)/num;
                                        for(var i_updown = 1; start_y >= y2; start_y--, i_updown++){
                                            var _v_new = val1 + v_space*i_updown;
                                            var c = _getColor(_v_new);
                                            var color = color_normal2rgb(c, true);
                                            set(x, start_y, color);
                                        }
                                    }
                                }
                                var i3 = v_i+1;
                                if(i3 < len_y){
                                    var v2 = data[i3][i];
                                    var x2 = v2.x,
                                        y2 = v2.y;
                                    var val2 = v2.v;
                                    if(val2 != DEFAULT_VAL){
                                        // y2 < y1
                                        var start_x = x + 1,
                                            num = Math.abs(x2 - start_x);
                                        var v_space = (val2 - val1)/num;
                                        for(var i_leftright = 1; start_x <= x2; start_x++, i_leftright++){
                                            var _v_new = val1 + v_space*i_leftright;
                                            var c = _getColor(_v_new);
                                            var color = color_normal2rgb(c, true);

                                            set(start_x, y + i_updown, color);
                                        }
                                    }
                                }
                            }
                        });
                    });
                    ctx.putImageData(imagedata, 0, 0);
                }
            })();
            var _draw_points = (function(){
                
                return function(zoom){
                    var width_data, height_data;
                    var interpolate_data = data.interpolate;
                    global.interpolate_data = interpolate_data;
                    try{
                        width_data = interpolate_data.length;
                        height_data = interpolate_data[0].length;
                    }catch(e){}
                    ctx = getCtx(width, height);
                    if(width_data > 0 && height_data > 0){
                        for(var i = 0; i < width_data; i++){
                            var arr = [];
                            for(var j = 0; j< height_data; j++){
                                var v = interpolate_data[i][j];
                                var point = new BMap.Point(v.x, v.y);
                                var pixel = map.pointToPixel(point);
                                var c = _getColor(v.v);
                                interpolate_data[i][j].color = c;
                                // if(c == _color_arr[4]){
                                    var color = color_normal2rgb(c, true);

                                    ctx.fillStyle = 'rgba('+color[0]+', '+color[1]+', '+color[2]+',100)';
                                    ctx.beginPath();
                                    ctx.arc(pixel.x, pixel.y, zoom, 0, Math.PI*2, 1);
                                    ctx.closePath();
                                    ctx.fill();
                                // }
                            }
                        }

                    }
                }
            })();
            var _fill_color = (function(){
                var _cache_rgb = (function(){
                    var _cache = {};
                    return function(x, y){
                        var key = [x, y].join('_');
                        var v_cache = _cache_rgb[key];
                        if(v_cache){
                            return v_cache;
                        }else{
                            var v = getV(x, y);
                            var color = [0, 0, 0, 0];
                            if(!isNaN(v)){
                                color = color_normal2rgb(v, true);
                            }
                            _cache_rgb[key] = color;
                            return color;
                        }
                    }
                })();
                return function(){
                    var width, height;
                    var interpolate_data = data.interpolate;
                    try{
                        width = interpolate_data.length;
                        height = interpolate_data[0].length;
                    }catch(e){}
                    if(width > 0 && height > 0){
                        var new_pixel_arr = [];
                        var last_pixel;
                        for(var i = 0; i < width; i++){
                            var arr = [];
                            for(var j = 0; j< height; j++){
                                var v = interpolate_data[i][j];
                                var point = new BMap.Point(v.x, v.y);
                                var pixel = map.pointToPixel(point);
                                last_pixel = pixel;
                                var color = color_normal2rgb(_getColor(v.v), true);
                                if(color){
                                    color.push(200);
                                }else{
                                    color = [0, 0, 0, 0];
                                }
                                arr.push({
                                    x: pixel.x, 
                                    y: pixel.y, 
                                    color: color
                                });
                            } 
                            new_pixel_arr.push(arr);  
                        }
                        var pixel_x_start = new_pixel_arr[0][0].x,//左下点
                            pixel_y_start = new_pixel_arr[0][0].y,
                            pixel_x_end = last_pixel.x,
                            pixel_y_end = last_pixel.y,
                            space_pixel_x = new_pixel_arr[0][1].x - pixel_x_start,
                            space_pixel_y = new_pixel_arr[1][0].y - pixel_y_start;
                        function _get_pixel(x, y){
                            try{
                                var pixel = new_pixel_arr[x][y];
                                if(pixel){
                                    return pixel;
                                }
                            }catch(e){}

                            return {
                                x: pixel_x_start + x*space_pixel_x, 
                                y: pixel_y_start + y*space_pixel_y, 
                                color: [0, 0, 0, 0]
                            }
                        }
                        function _get_pixel_color(x, y, pixel00, pixel10, pixel01, pixel11){
                            var x1 = pixel00.x,
                                x2 = pixel10.x,
                                y1 = pixel00.y,
                                y2 = pixel01.y;

                            // http://zh.wikipedia.org/wiki/%E5%8F%8C%E7%BA%BF%E6%80%A7%E6%8F%92%E5%80%BC
                            var denominator = (x2 - x1)*(y2 - y1)
                            var p1 = (x2 - x)*(y2 - y)/denominator,
                                p2 = (x - x1)*(y2 - y)/ denominator,
                                p3 = (x2 - x)*(y - y1)/denominator,
                                p4 = (x - x1)*(y - y1)/denominator;


                            var arr = [];
                            for(var i = 0; i < 3; i++){
                                var v00 = pixel00.color[i],
                                    v01 = pixel01.color[i],
                                    v10 = pixel10.color[i],
                                    v11 = pixel11.color[i];
                                var v = v00 * p1 + v10 * p2 + v01 * p3 + v11 * p4;
                                arr.push(v);
                            }
                            arr.push(255);
                            return arr;
                        }
                        for(var i = 0; i < width; i++){
                            for(var j = 0; j< height; j++){
                                var pixel00 = _get_pixel(i, j);
                                var pixel10 = _get_pixel(i+1, j);
                                var pixel01 = _get_pixel(i, j+1);
                                var pixel11 = _get_pixel(i+1, j+1);
                                for(var p_x = pixel00.x, p_e_x = pixel10.x; p_x < p_e_x && p_x < pixel_x_end; p_x++){
                                    for(var p_y = pixel00.y, p_e_y = pixel01.y; p_y > p_e_y && p_y > pixel_y_end; p_y--){
                                        var color = _get_pixel_color(p_x, p_y, pixel01, pixel11, pixel00, pixel10);

                                        set(p_x, p_y, color);
                                    }
                                }
                            }
                        }
                        ctx.putImageData(imagedata, 0, 0);
                    }
                }
            })();

            var _is_inited = false;
            var _stroke_tt = {};
            var _stroke_cache = {};
            var _test_stroke = function(){
                var interpolate_data = data.interpolate;
                // 对标记点进行检测
                // Stroker.stroke(interpolate_data);
                _is_inited || Stroker.init(interpolate_data);
                _is_inited = true;
                var obj_flag = Stroker._get_flag();
                for(var i in obj_flag){
                    var item = obj_flag[i];
                    var pos = interpolate_data[item.x][item.y];
                    var point = new BMap.Point(pos.x, pos.y);
                    var pixel = map.pointToPixel(point);
                    ctx.fillStyle = 'rgba(0,0,0,0.6)';
                    ctx.beginPath();
                    ctx.arc(pixel.x, pixel.y, 2, 0, Math.PI*2, 1);
                    ctx.closePath();
                    ctx.fill();
                }
                global.flag = function(x, y){
                    var pos = interpolate_data[x][y];
                    var point = new BMap.Point(pos.x, pos.y);
                    var pixel = map.pointToPixel(point);
                    ctx.fillStyle = 'rgba(0,0,0,0.3)';
                    ctx.beginPath();
                    ctx.arc(pixel.x, pixel.y, 5, 0, Math.PI*2, 1);
                    ctx.closePath();
                    ctx.fill();
                }
                global.delay = 200;
                function _show(index, items, color, callback){
                    clearTimeout(_stroke_tt[index]);
                    var item = items.shift();
                    
                    if(item){
                        if(item.x == 2 && item.y == 40){
                            debugger;
                        }
                        ctx.strokeStyle = color;
                        ctx.lineWidth = 1.5;
                        var item_prev = _stroke_cache[index];
                        if(item_prev){
                            ctx.beginPath();
                            var pos = interpolate_data[item_prev.x][item_prev.y];
                            var point = new BMap.Point(pos.x, pos.y);
                            var pixel = map.pointToPixel(point);
                            ctx.moveTo(pixel.x, pixel.y);

                            var pos = interpolate_data[item.x][item.y];
                            var point = new BMap.Point(pos.x, pos.y);
                            var pixel = map.pointToPixel(point);
                            ctx.lineTo(pixel.x, pixel.y);
                            ctx.stroke();
                        }

                        _stroke_cache[index] = item;
                    }
                    if(items.length > 0){
                        _stroke_tt[index] = setTimeout(function(){
                            _show(index, items, color, false);
                        }, global.delay);
                    }else{
                        delete _stroke_cache[index];
                        delete _stroke_tt[index];
                        // callback && callback();
                    }
                }
                arr_area = Stroker._get_erea();
                console.log(arr_area);
                // for(var i = 0, j = arr_area.length; i < j; i++){
                //     ctx.fillStyle = arr_area[i].color;
                    
                //     _show(i, arr_area[i].items.slice(), arr_area[i].color, true);
                // }
                function _show_fill(color){
                    for(var i = 0, j = 90; i < j; i++){
                        var c = arr_area[i].color;
                        if(color && c != color){
                            continue;
                        }
                        var c_rgb = color_normal2rgb(c, true);
                        ctx.fillStyle =  'rgba('+c_rgb[0]+', '+c_rgb[1]+', '+c_rgb[2]+', 10)';
                        ctx.beginPath();
                        for(var i_item = 0, items = arr_area[i].items, j_item = items.length; i_item < j_item; i_item++){
                            var item = items[i_item];
                            var pos = interpolate_data[item.x][item.y];
                            var point = new BMap.Point(pos.x, pos.y);
                            var pixel = map.pointToPixel(point);
                            if(i_item == 0){
                                ctx.moveTo(pixel.x, pixel.y);
                            }else{
                                ctx.lineTo(pixel.x, pixel.y);
                            }
                        }
                        ctx.closePath();
                        ctx.fill();
                    }
                }
                // _show_fill();
                global._show_fill = _show_fill
                var _stroke_index = 0,
                    _stroke_len = arr_area.length - 1;
                global._stroke_next = function(num){
                    if(typeof num != 'undefined'){
                        _stroke_index = num;
                    }
                    if(_stroke_index <= _stroke_len){
                        _show(_stroke_index, arr_area[_stroke_index].items.slice(), arr_area[_stroke_index].color, true);
                        console.log(_stroke_index);
                        _stroke_index++;
                    }
                }
            }
            var time_start = new Date();
            // _draw_data();
            // _fill_color();
            var tt;
            function dragendOrZoomend(){
                clearTimeout(tt);
                tt = setTimeout(function(){
                    _draw_points(map.getZoom()-2);
                    _test_stroke();
                }, 30);
            }
            map.addEventListener("dragend", dragendOrZoomend);
            map.addEventListener("zoomend", dragendOrZoomend);
            dragendOrZoomend();
            
            console.log(new Date() - time_start + ' ms!');
            // alert('完');
            // var max = Number.MIN_VALUE;
            // $.each(data, function(i, v){
            //     if(v.v > 0 && v.v != 999999){
            //         console.log(v);
            //         setTimeout(function(){
            //             var color = _getColor(v.v);
            //             var point = new BMap.Point(v.x, v.y);
            //             var pixel = map.pointToPixel(point);
            //             ctx.save();
            //             ctx.fillStyle = color;
            //             ctx.beginPath();
            //             ctx.arc(pixel.x, pixel.y, 2, 0, Math.PI*2);
            //             ctx.closePath();
            //             ctx.fill();
            //             ctx.restore();
            //             console.log(color, v,pixel.x, pixel.y);
            //         }, 0);
            //     }
            // });
        });
    }()
    </script>
</body>
</html>